*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000000;
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: hidden;
}
nav{
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    background: #000000;
}
.brand_logo{
    margin-right: auto;
}
.brand_logo img{
    height: 50px;
    width: auto;
}
.home_btn{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #1f1f1f;
}
nav form{
    border: none;
    border-radius: 35px;
    width: 450px;
    position: relative;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    height: 50px;
    background: #1f1f1f;
}
nav form button{
    margin-left: -15px;
    font-size: 20px;
}
nav form input[type="text"]{
    width: 85%;
    height:45px ;
    border-radius: 30px;
    top: -0.5px;
    background: none;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    overflow-y: scroll;
    
}
nav button{
    width: 100px;
    flex-wrap: wrap;
    margin-right: 20px;
    background: none;
    color: rgb(141, 137, 137);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
@media (max-width:1350px){
    nav form{
        display: none;
    }

}
nav button:hover{
    color: white;
    transform: scale(1.1);
}
#login_btn{
    border: 1px solid white;
    border-radius: 30px;
    background: white;
    color: black;
    height: 45px;
}
#login_btn:active{
    transform: scale(1.05);
}

nav ul{
    border-right: 2px solid white;
}
nav ul li{
    color: rgb(90, 88, 88);
    display: inline-block;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 20px;
    transition: 0.1s;
}
nav ul li a{
    color: rgb(141, 137, 137);
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
}
nav ul li:hover{
    transform: scale(1.1);
    color: white;
}







#sidebar{
    float: left;
    width: 25%;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    top: 20px;
    left: 5px;
    background: #121212;
    padding: 25px 10px;
    color: white;
    overflow-y: hidden;
}

.sidebar_cards{
    margin-top: 50px;
    border-radius: 15px;
    padding: 10px;
    background: #1f1f1f;
}
.sidebar_button{
    padding: 10px;
    color:black;
    background: none;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    background: #fdfdfd;
}
.sidebar_button:hover{
    transform: scale(1.1);
}
#sidebar_footer{
    width: 100%;
    height: auto;
    margin-top: 150px;
}
#sidebar_footer ul li{
    display: inline-block;
    padding: 15px;
}
#sidebar_footer ul li a{
    color: white;
    text-decoration: none;
}
#sidebar_footer button{
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin-top: 7px;
}

#container{
    float: left;
    width: 70%;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    top: 20px;
    left: 50px;
    background: #121212;
    padding: 25px 10px;
    position: relative;
    overflow-y: scroll;
}
.topbar{
   padding: 20px;
}
.top_bar_btn{
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 25px;
    background: none;
    color: white;
    cursor: pointer;
}

.active{
    color: black;
    background: white;
}

#content {
    width: calc(100% - 40px); 
    height: fit-content;
    position: absolute;               
    left: 20px;
    right: 20px;
    border-radius: 20px;
    padding: 20px;
}
.tranding_song h2{
    color: white;
}
.img_cards{
    position: relative;
    border: none;
    padding: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
}
.img_cards:hover .overlay{
    visibility: visible;
}
.overlay{
    position: absolute;
    height: 200px;
    border: none;
    top: 0px;
    width: 100%;
    background: rgba(37, 37, 37, 0.712);
    visibility: hidden;
}
.img_cards button{
    width: 60px;
    height: 60px;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    font-size: 25px;
    background: green;
    color: white;
    cursor: pointer;
}




/*motion effect*/
#motion {
  position: absolute;
  pointer-events: none; 
  transition: left 0.05s ease, top 0.05s ease;
  background: radial-gradient(circle, white, transparent);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  filter: blur(60px);
  transition: 0.1s;
}
.liniar_effect{
    width: 100%;
    height: 50px;
    background:linear-gradient(rgba(204, 0, 255, 0.562), transparent);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}